<%= form_for @trip do |f| %>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="bottom-margin-small">
    <%= f.label :name %> <br>
    <%= f.text_field :name %>
  </div>

  <div class="bottom-margin-small">
    <%= f.label :description %> <br>
    <%= f.text_field :description %>
  </div>

  <div class="bottom-margin-small">
    <%= f.label :favorite %>
    <%= f.check_box :favorite %>
  </div>

  <h6><%= f.submit class: "btn btn-purple" %></h6>

<% end %>
