<div class="jumbotron welcome-banner">
    <h1 class="glowing">Welcome to Oyster</h1>
</div>


<div class="container login">
  <%= form_tag sessions_path do %>
    <%= label_tag :email, 'Email'%>
    <%= text_field_tag :email, params[:email], class: 'form-control', autofocus: true %>

    <%= label_tag :password, 'Password'%>
    <%= password_field_tag :password, nil, class: 'form-control' %>
    <%= submit_tag "Login", class: 'btn btn-purple' %>
  <% end %>
</div>

<div class="container sign-up">
  <%= render 'users/new_user_form' %>
</div>
