<h3>Sign up:</h3>

<%= form_for @user, :html => {:class => "form-horizontal center"} do |f| %>
  <div class="form-group">
    <%= f.label :name, "Name:", class: "col-md-4 control-label"%>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email, "Email:", class: "col-md-4 control-label"%>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password, "Password:", class: "col-md-4 control-label"%>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, "Password Confirmation:", class: "col-md-4 control-label"%>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <%= f.submit "Submit", class: "btn btn-purple" %>
<% end %>
