
<div class="container top-margin">

<h1><%= @user.name %></h1>
<hr class="my-4">
<div class="row">

  <div class="col-lg-6">
    <h2>Create Trip:</h2>
    <%= render 'trips/new_form' %>
  </div>

  <div class="col-lg-6">
    <h2>Find a Trip:</h2>

    <div class="top-margin-x-small">
      <%= render 'trips/search_form' %>
    </div>
  </div>

</div>

<hr class="my-4">

  <% if !@trips.empty? %>
    <h2>Trips:</h2>

    <% @trips.each do |trip| %>
      <div class="trip-listing top-margin">

        <div class="bottom-margin-small">
          <h4><%= link_to trip.name, trip_path(trip), class: "purple-link"%></h4>
        </div>

        <% if !trip.photos.empty? %>
          <div class="row bottom-margin-small">

            <% trip.photos.sample(3).each do |photo| %>
              <div class="col-md-4">


                <%= image_tag photo.image.thumb.url, class: "photo-display" %>

              </div>
            <% end %>

          </div>

        <% end %>

        <hr class="my-2">
      </div>

    <% end %>

  <% end %>

  <footer><%= button_to "Delete account", delete_user_path(@user), method: :delete, data: { confirm: "Are you sure you wish to delete your account?"}, class: "btn btn-purple"  %></footer>
</div>
