<%= link_to "Back to Trip", trip_path(@photo_album.trip) %>

<h2>Upload a photo:</h2>

<%= render "photos/new_form" %>

<% @photos.each do |photo| %>
  <a href="<%= photo_path(photo) %>">
    <div class="card" style="width: 18rem;">
      <%= image_tag photo.image.thumb.url, class: 'img-fluid' %>

      <div class="card-body">
        <p class="card-text"><%= photo.description %></p>
      </div>
    </div>
  </a>
<% end %>
