<%= form_for @photo do |f| %>
  <div class="top-margin">
    <%= f.label :image, class: "label"%>
    <%= f.file_field :image %>
  </div>

  <div class="top-margin">
    <%= f.label :description, class: "label" %>
    <%= f.text_field :description %>
  </div>

  <div class="top-margin">
    <%= f.hidden_field :photo_album_id, value: @photo_album.id %>
    <%= f.submit "Upload", class: "btn-purple" %>
  </div>
<% end %>
