<!DOCTYPE html>
<html>
  <head>
    <title>Oyster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand"><img src="/assets/Oyster-icon.png" width="30" height="30" class="d-inline-block align-top" alt="Oyster logo">
        Oyster: the world is yours
      </a>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
