<!DOCTYPE html>
<html>
  <head>
    <title>Oyster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">
        <img src="/assets/Oyster-icon.png" width="60" height="60" class="d-inline-block align-top float right-margin" alt="Oyster logo">
        <h2 class="top-margin-x-small">Oyster: the world is yours</h2>
      </a>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
